.form-container
  %h3 Sign in
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %div
      .form-label Email
      = f.email_field :email, :autofocus => true, class: "form-control"
    %div
      .form-label Password
      = f.password_field :password, class: "form-control"
    - if devise_mapping.rememberable?
      .remember-me
        = f.check_box :remember_me
        = f.label :remember_me
    %div= f.submit "Sign in", class: "btn btn-primary btn-submit"
  = render "devise/shared/links"
